/*
* Resets
*/
@import '~minireset.css/minireset';
@import '~normalize.css/normalize';
/* Other Resets */
p, ul, li, h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

