import React from 'react';
const tpl =
(
<div>
  <h1>React-Webpack Boilerplate</h1>
  <p>Most of the react-webpack boilerplates out there are really complex. It is very overwhelming if you are just getting started with Webpack and React. This boilerplate however is very simple and only includes the things that you need to compile JSX and ES2015 JavaScript. But if you are curious how you can integrate css to your workflow, you can checkout the `postcss` and the `sass-loader` branches. For more details, please take a look at the readme file.</p>
</div>
);
export default tpl;
